*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

body{
	background: url(images/bg.jpg) repeat fixed transparent;
	max-width: 100vw;
	max-height: 100vh;
}

.gt{
	text-align: center;
}
.gt p{
	font-size: 18px;
}
